*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    width:100%;
    height:100%;
}

:root{
    --bg:#42ADFD;
    --card:#fff;
    --seperation:#00000021;
    --txt:#2b2b2b;
    --secTxt:#29699b;
}

#app{
    width: 100%;
    height:100vh;
    background-color: var(--bg);
    display:flex;
    align-items:center;
    justify-content:center;

}

#weatherApp{

  width: 50vmin;
    min-height: 40vmin;
    position: relative;
    /* background-color: red; */
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--card);

}
.content{
    position: absolute;
    background-color:var(--card) ;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 1em;
    box-shadow: 0 0 20px #00000041;
    transition:all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    z-index: 99;

    
}
.content h3{
    color:var(--bg);
    font-weight: 500;
    width: 100%;
    border-bottom: 1px solid #00000021;
    padding: 1em;
    display: flex;
    align-items: center;

}
.content h3 i{
    margin-right: 1em;
    cursor: pointer;
}

.content form{
    /* background-color: red; */
    /* height: 50%; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

form input{
    background-color: none;
    border:1px solid var(--seperation);
    padding: .5em 1em;
}
form input:focus{
    outline: 1px solid var(--bg);
}
#inputField{
    position: relative;
    background-color: yellow;
    margin-bottom: 1em;

}
#autoComplete{
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top:100%;
    overflow: auto;
    /* min-height: 10vh; */
    box-shadow: 0 0 10px #0000002c;


}
.aTxt{
    height: 3vh;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


.seperation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.seperation p{
    color:var(--seperation);
}
.seperation .line{
    width: 40%;
    height: 1px;
    background-color: var(--seperation);
}


#alert{
    margin-top: 1em;
    width: 100%;
    border: 1px solid rgb(172, 3, 3);
    background-color: rgba(202, 4, 4, 0.151);
    padding: .5em;
    display: flex;
    font-size: 13px;
    align-items: center;
}
#alert i{
    color:rgb(172, 3, 3);
    margin-right: 1em;
}
#alert p{
    color:rgb(172, 3, 3);
}

#loader{
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
    /* background-color: yellow; */
    border: 2px solid var(--bg);
    margin-top: 1em;
    border-top-color:transparent ;
    animation: rotate 1s linear infinite;


}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);

    }
}

/* utils  */
.btn{
    border:none;
    background-color: var(--bg);
    color:#fff;
    padding: .5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:657px) {
    #weatherApp{
        width: 100%;
        height: 60vmax;
    }

    
}